# NOTE: don't forget to:
# 1) add a variable to .env on server
# 2) stop and start puma process (right after you added new variables)

RAILS_ENV=development
DATABASE_NAME='some_name'
DATABASE_PASSWORD='you_password'

TWITTER_KEY='some_key'
TWITTER_SECRET='some_secret'
TWITTER_CALLBACK='some_callback'
FACEBOOK_KEY='some_key'
FACEBOOK_SECRET='some_secret'
FACEBOOK_CALLBACK='some_callback'
