# NOTE: don't forget to:
# 1) add a variable to .env on server
# 2) stop and start puma process (right after you added new variables)

RAILS_ENV=development
DOMAIN_NAME=localhost:3000
SECRET_KEY_BASE=d2963493475e318439282098a5498ef47d64c61a23adc3cace5fdb1305b2ea044ab2c4bc4b620d4625d243051098fdde874349fb5f9f353200241c4020ea6338

# Consider to use ~/.pgpass file for managing database credentials
DATABASE_USERNAME=
DATABASE_PASSWORD=

TWITTER_KEY=vSdEC0QXmcaP7N5NamStvpRJE
TWITTER_SECRET=f0k3eAANwHRIxY01PTYzfwz54topHVopLPz3aaMhJHLuKKw5lz

FACEBOOK_KEY=1305347646223828
FACEBOOK_SECRET=64ab7e688da18fa698398480718f1f0d
FB_API_V='v2.7'
FB_LOCALE='ar_AR'

ROLLBAR_ACCESS_TOKEN=a9c3302247f54aba87a548927c00ce2d
ROLLBAR_CLIENT_TOKEN=83f3a71bd87141f2ae006b4ec0b794ad
