.topics-spotlight {
  display: flex;
  flex-direction: row;
}

.topics-spotlight__query {
  flex-grow: 5;
}

.topics-spotlight__set {
  width: 150px;

  html[dir="rtl"] & {
    margin-right: 5px;
  }

  html:not([dir="rtl"]) & {
    margin-left: 5px;
  }
}

.topics-spotlight__time {
  width: 115px;

  html[dir="rtl"] & {
    margin-right: 5px;
  }

  html:not([dir="rtl"]) & {
    margin-left: 5px;
  }
}
