p #{@user.full_name} (#{link_to @user.email, "mailto: #{@user.full_name} <#{@user.email}>"}) sent feedback via contact form on #{link_to "Contact Us", new_feedback_url} page about "#{@feedback.reason_text}":
br
p= @feedback.body
