@import "settings";

html {
  height: 100%;
}

body {
  position: relative;
  min-height: 100%;
  padding-bottom: 80px !important;
}

.footer {
  width: 100%;
  position: absolute;
  bottom: 0;
  padding: 0.5rem;
  line-height: 1.5;
  background-color: $light-gray;
}

.footer__link {
  display: inline-block;
  padding: 0.7rem 1rem;
}
