.news_block {
  max-height: 7em;
  overflow-y: auto;
  margin-top: 0.4em;
  text-align: right;
  .title {
    font-size: 1.2em;
  }
  .date {
    font-size: 0.75em;
  }
  .description {
    font-size: 0.85em;
    background-color: #E4E4D4;
  }
}

.multiselect {
  .selectize-input {
    margin-top: 1rem;
    padding: 0 !important;
    div.item {

      margin: 0.6rem 0.17rem 0.6rem 0.17rem !important;
      color: white;
      border-radius: 4px;
      background-color: #4B4D4F;
      .remove{
        border-color: rgba(0,0,0,0);
      }
    }
  }
}

