@import "settings";

.post-page {
  &__post-header {
    width: 100%;
    height: 100%;
    display: block;
  }

  &__external-site {
    width: 100%;
    height: 100%;
    border-top: $bar-content-border;
    position: absolute;
  }
}
