@import "settings";

.post-page {
  height: 100%;
  display: flex;
  flex-direction: column;

  &__post-header {
    display: block;
    height: 9.5rem;
  }

  &__external-site {
    flex: 1;
    border-top: $bar-content-border;
    position: relative;
  }
}
