.tag_label {
  display: inline-block;
  margin-left: 0.2rem;
}

.tags {
  .title {
    font-size: 1.5em;
  }

  .publicate_data {
    color: gray;
    font-size: 0.75rem;
  }
  hr {
    margin: 0.2rem;
  }
}
