@import "settings";

.top-navigation {
  width: 100%;
  background-color: $topbar-background;

  &__menu {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    border-bottom: 2px solid $topbar-separate-line;
    width: 100%;
    padding: 0.5rem 1.5rem;
  }
}

.top-navigation__actions {
}

.top-navigation__items {
  margin: 0;
  list-style: none;

  li {
    display: inline-block;
    padding: 0.5rem;

    &.top-navigation__logo {
      padding: 0 0 0 1em;
    }
  }
}

.top-navigation-logo {
  &--picture {
    height: 39px;
  }
}
