@import 'settings';

.topics {
}

.topics__topic {
  margin-bottom: 40px;

  &::last-child {
    margin-bottom: 0;
  }
}

.topic {
  display: flex;
}

.topic__vote-buttons {
  width: 20px;
  color: $medium-gray;

  html[dir="rtl"] & {
    margin-left: 1em;
  }

  html:not([dir="rtl"]) & {
    margin-right: 1em;
  }
}

.topic__vote-button {
  font-size: 1.5em;
  line-height: 1.5em;
  color: $medium-gray;
  cursor: pointer;
}

.topic__vote-result {
  text-align: center;
}

.topic__body {
  flex-grow: 1;
}

.topic__description-text {
  display: inline;
}

.topic__link-to-more {
  display: inline;
}

.topic__title {
  font-size: 1.2em;
  font-weight: bold;
}

.topic__subtitle {
  margin: 5px 0;
  color: $medium-gray;
  font-size: 0.9em;
}

.topic__subtitle-item {
  display: inline-block;

  &:first-child {
   html[dir="rtl"] & {
     margin-right: 0;
   }

   html:not([dir="rtl"]) & {
    margin-left: 0;
   }
  }

  &:not(:last-child) {
    &:after {
      margin: 0 5px;
      content: "\00B7";
      color: $light-gray;
      vertical-align: center;
    }
  }
}

.topic__topic-body {
  margin-bottom: 5px;
}

.topic__image {
  max-height: 4em;

  html[dir="rtl"] & {
    float: right;
    margin-left: 0.5em;
  }

  html:not([dir="rtl"]) & {
    float: left;
    margin-right: 0.5em;
  }
}

.topic__related-topics {
  margin-top: 10px;
  margin-bottom: 5px;
}

.topic__related-topics-title {
  color: $dark-gray;
}

.topic__related {
  margin-bottom: 5px;

  &:last-child {
    margin-bottom: 0;
  }
}

.topic__related-subtitle {
  color: $medium-gray;
  font-size: 0.8em;
}

.topic__related-subtitle-item {
  display: inline-block;

  &:not(:last-child) {
    &:after {
      margin: 0 5px;
      content: "\00B7";
      color: $light-gray;
      vertical-align: center;
    }
  }
}

.topics__pagination {
  text-align: center;
}

.topics-filter {
  background: #ddd;
}
