@import "settings";

.post-comments__comments {
  position: relative;
}

.fb-comments {
  background-color: $body-background;
}

.post-comments__loader {
  position: absolute;
  left: calc(50% - 32px);
  top: 110px;
  overflow: hidden;
  z-index: -1;
}
