@import "settings";

.post-reviews {
}

.post-reviews__header {
  margin: 2em 0 1.5em;
}

.post-reviews__flag {
  display: inline-block;
  margin-bottom: 8px;
}


.post-reviews__comments {
  margin-top: 20px;
}

.post-reviews__comment {
  margin-bottom: 15px;

  &:last-child {
    margin-bottom: 0;
  }
}

.post-reviews__new-comment {
  margin-top: 20px;

  textarea {
    margin-bottom: 10px;
  }
}

.post-reviews__warning {
  font-size: 1.2em;
}

.post-reviews__categories {
  margin-top: 20px;

  .selectize-input {
    height: 3.2em;
    padding: 0 0.2rem !important;

    .item {
      margin: 0.6rem 0.15rem !important;
    }
  }
}

.post-review-flags {
  display: inline-block;
}

.post-review-flag {
  $circle-radius: 1.5em;

  width: $circle-radius;
  height: $circle-radius;
  border-radius: $circle-radius;
  text-align: center;
  cursor: pointer;
  border: none;
  margin-left: 0.5em;

  &__link {
    color: $white;

    &:hover {
      color: $white;
    }
  }
}
