.post-reviews {
}

.post-reviews__header {
  margin-bottom: 20px;
}

.post-reviews__flag {
  display: inline-block;
  margin-bottom: 8px;
}


.post-reviews__comments {
  margin-top: 20px;
}

.post-reviews__comment {
  margin-bottom: 15px;

  &:last-child {
    margin-bottom: 0;
  }
}

.post-reviews__new-comment {
  margin-top: 20px;

  textarea {
    margin-bottom: 10px;
  }
}

.post-reviews__warning {
  font-size: 1.2em;
}

.post-reviews__categories {
  margin-top: 20px;

  .selectize-input {
    height: 3.2em;
    padding: 0 0.2rem !important;

    .item {
      margin: 0.6rem 0.15rem !important;
    }
  }
}
