.posts-spotlight__sort-section {
  display: flex;
  flex-direction: row;
}

.posts-spotlight__filter-section {
  display: flex;
  flex-direction: column;
}

.posts-spotlight__query {
  flex-grow: 5;
}

.posts-spotlight__set {
  width: 150px;

  html[dir="rtl"] & {
    margin-right: 5px;
  }

  html:not([dir="rtl"]) & {
    margin-left: 5px;
  }
}

.posts-spotlight__time {
  width: 115px;

  html[dir="rtl"] & {
    margin-right: 5px;
  }

  html:not([dir="rtl"]) & {
    margin-left: 5px;
  }
}

.posts-spotlight__sources {
  .item {
    margin: 0.6rem 0.15rem !important;
  }
}
