.posts-spotlight__filters {
  display: flex;
  flex-direction: column;
}

.posts-spotlight__row-section {
  display: flex;
  flex-direction: row;
}

.posts-spotlight__set {
  flex-grow: 1;

  html[dir="rtl"] & {
    margin-left: 0.1em;
  }

  html:not([dir="rtl"]) & {
    margin-right: 0.1em;
  }
}

.posts-spotlight__time {
  flex-grow: 1;

  html[dir="rtl"] & {
    margin-right: 0.1em;
  }

  html:not([dir="rtl"]) & {
    margin-left: 0.1em;
  }
}

.posts-spotlight__multiple-select-box {
  .item {
    margin: 0.6rem 0.15rem !important;
  }
}
