javascript:
  var _rollbarConfig = {
    accessToken: "#{ENV['ROLLBAR_CLIENT_TOKEN']}",
    captureUncaught: true,
    captureUnhandledRejections: true,
    payload: {
      environment: "#{Rails.env.to_json}",
      person: "#{current_user ? current_user.email : 'guest'}"
    }
  };

  (function(d, s, id) {
    var js, fjs = d.getElementsByTagName(s)[0];
    if (d.getElementById(id)) return;
    js = d.createElement(s); js.id = id;
    js.src = "//connect.facebook.net/ru_RU/sdk.js#xfbml=1&version=v2.9&appId=589532491165068";
    fjs.parentNode.insertBefore(js, fjs);
  }(document, 'script', 'facebook-jssdk'));
